# Ignore everything by default
*
!.gitignore
!AGENTS.md

# But allow the a-z dictionary JSON files
![a].json
![b].json
![c].json
![d].json
![e].json
![f].json
![g].json
![h].json
![i].json
![j].json
![k].json
![l].json
![m].json
![n].json
![o].json
![p].json
![q].json
![r].json
![s].json
![t].json
![u].json
![v].json
![w].json
![x].json
![y].json
![z].json
